/*-- scss:defaults --*/
$red:     #E3001A !default;
$blue:    #4066AA !default;
$purple:  #BB90BD !default;
$orange:  #F6AD6E !default;
$green:   #7AB51D !default;
$yellow:  #ffe608 !default;
$teal:    #adcf82 !default;
$cyan:    #bee2e6 !default;
$indigo:  #95ceed !default;
$pink:    #e83e8c !default;
